<!-- FORGET PASSWORD --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid padding *ngIf="data != null">
      <ion-row align-items-center>
        <ion-col padding size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img float-end [src]="data.logo"></ion-img>
          <div clearfix></div>
          <h1  text-size-xl text-wrap text-capitalize>{{data.title}}</h1>
          <div clearfix></div>
          <h2 text-size-xs text-wrap padding-right>{{data.subtitle}}</h2>
          <div clearfix></div>
          <ion-item no-padding transparent input>
            <!---Input field email-->
            <ion-label text-size-sm position="floating">{{data.lableEmail}}</ion-label>
            <ion-input required type="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]="item.email"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isEmailValid" icon-small [name]="data.errorIcon"></ion-icon>
          </ion-item>
          <!---Send button-->
          <ion-button margin-top button-round shape="round" fill="outline" float-end (click)="onSendFunc()">
            {{data.send}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
