<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of data.items">
        <ion-card box-shadow
          (click)="onItemClickFunc(item, $event)">

          <div card-image>
            <!--Card image-->
            <img images-filter [src]="item.image" />
            <!--Card title-->
            <h2 text-size-xs>{{item.titleHeader}}</h2>
          </div>
          <!--Card content-->
          <ion-card-content>
            <ion-card-title>
              <!--Card subtitle-->
              <h1 text-size-lg>{{item.title}}</h1>
            </ion-card-title>
            <!--Card description-->
            <p text-size-p padding-top padding-bottom>{{item.description}}</p>
            <!--Button share-->
            <ion-button shape="round" button-round fill="outline" slot="start"
            (click)="onShareFunc(item, $event)">
              {{item.shareButton}}
            </ion-button>
            <!--Button explore-->
            <ion-button shape="round" button-round fill="outline" slot="start"
            (click)="onExploreFunc(item, $event)">
              {{item.button}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
