<!-- ALERT --COMPONENT 2 -->
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col size="12" size-md="6" *ngFor="let item of data.items"
    (click)="presentAlert(item, $event)">
      <!-- Card -->
      <ion-card box-shadow>      
        <img [src]="item.image" />
        <ion-card-content text-center>
          <span text-size-sm text-capitalize>{{item.category}}</span>
          <h2 text-size-md text-capitalize>{{item.title}}</h2>
          <div clerfix></div>
          <!-- Button Like -->
          <ion-button button-icon fill="clear">
            <ion-icon icon-small slot="start" [name]="item.iconLike"
            (click)="onLikeFunc(item, $event)"></ion-icon>
            {{item.numberLike}}
          </ion-button>
          <!-- Button Commnets -->
          <ion-button button-icon fill="clear">
            <ion-icon icon-small slot="start" [name]="item.iconComment"
            (click)="onCommentFunc(item, $event)"></ion-icon>
            {{item.numberCommnet}}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
