<!-- Theme Search Bars - Field + header -->
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <!-- List -->
    <ion-col size="12" no-padding>
      <ion-list no-margin lines="none">
        <ion-list-header no-padding background-size no-padding
          [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}" *ngIf=" data.headerImage != null">
          <ion-searchbar [(ngModel)]="search" (ionInput)="onTextChangeFunc($event)"></ion-searchbar>
        </ion-list-header>
        <ion-item *ngFor="let item of data.items | filter:search" 
          (click)="onItemClickFunc(item, $event)">
          
          <i icon-small slot="start" class="icon {{item.icon}}"></i>
          <ion-label>
            <h2 text-size-xs>{{item.title}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
