<!-- Theme Search Bars - Field + header 2 -->
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <!-- List -->
    <ion-col size="12" no-padding>
      <ion-list lines="none">
        <ion-list-header no-padding background-size [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}"
          *ngIf=" data.headerImage != null">
          <ion-searchbar [(ngModel)]="search" (ionInput)="onTextChangeFunc($event)"></ion-searchbar>
        </ion-list-header>
        <ion-item *ngFor="let item of data.items | filter:search"
          (click)="onItemClickFunc(item, $event)">
          <i slot="start" icon-medium class="icon {{item.icon}}"></i>
          <ion-label>
            <h2 text-size-xs text-wrap>{{item.title}}</h2>
            <h3 text-size-sm text-wrap>{{item.description}}</h3>
          </ion-label>
          <span span-medium slot="end">{{item.price}}</span>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
