  <ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content transparent background-size [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-grid padding *ngIf="data != null">
      <!--- SETTINGS LOGIN SCREEN -->
      <ion-row align-items-center>
        <ion-col background-white box-shadow border-radius padding size="12" size-md="10" push-md="1">
          <!---Logo-->
          <ion-img [src]="data.logo"></ion-img>
          <div clearfix></div>
          <h1 text-size-xl no-margin text-wrap text-capitalize>{{data.title}}</h1>
          <div clearfix></div>
          <h2 text-size-xs text-wrap>{{data.subtitle}}</h2>
          <div clearfix></div>
          <ion-item text-size-sm no-padding transparent input>
            <ion-label position="floating">{{data.labelPassword}}</ion-label>
            <ion-input required type="password" [(ngModel)]="item.password"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isPasswordValid" icon-small name="remove-circle"></ion-icon>
          </ion-item>
          <ion-item text-size-sm no-padding transparent input>
            <ion-label position="floating">{{data.labelPasswordNew}}</ion-label>
            <ion-input required type="password" [(ngModel)]="item.confrim"
              [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-icon *ngIf="!isConfrimValid" icon-small name="remove-circle"></ion-icon>
          </ion-item>
          <!---Done button-->
          <ion-button margin-top button-round shape="round" fill="outline" float-end
          (click)="onDoneFunc()">
            {{data.done}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
