<!--Google Maps Gmaps + About Us-->
<ion-content *ngIf="data != null">
    <ion-grid no-padding>
        <ion-row>
          <!--Social Shere-->
          <ion-col size="12" padding>
            <i icon-small float-end class="icon {{data.iconFavorite}}" (click)="onFavoriteFunc(data, $event)"></i>
            <i icon-small float-end class="icon {{data.iconShare}}" (click)="onShareFunc(data, $event)"></i>
            <i icon-small float-end class="icon {{data.iconLike}}" (click)="onLikeFunc(data, $event)"></i>
            <div clearfix></div>
            <!---About Name-->
            <h1 text-size-xl no-margin>{{data.title}}</h1>
            <h2 text-size-lg>{{data.titleDescription}}</h2>
            <h2 text-size-xs>{{data.contentTitle}}</h2>
            <p text-size-p text-wrap>{{data.contentDescription}}</p>
            <!---About Info-->
            <ion-list lines="none">
              <ion-item no-padding>
                  <i slot="start" icon-small class="icon {{data.iconLoacation}}"></i>
                  <p text-size-sm>{{data.iconLoacationText}}</p>
              </ion-item>
              <ion-item no-padding>
                  <i slot="start" icon-small class="icon {{data.iconWatch}}"></i>
                  <p text-size-sm>{{data.iconWatchText}}</p>
              </ion-item>
              <ion-item no-padding>
                  <i slot="start" icon-small class="icon {{data.iconPhone}}"></i>
                  <p text-size-sm>{{data.iconPhoneText}}</p>
              </ion-item>
              <ion-item no-padding>
                  <i slot="start" icon-small class="icon {{data.iconEarth}}"></i>
                  <p text-size-sm>{{data.iconEarthText}}</p>
              </ion-item>
              <ion-item no-padding>
                  <i slot="start" icon-small class="icon {{data.iconEmail}}"></i>
                  <p text-size-sm>{{data.iconEmailText}}</p>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-col size="12">
            <!---MAP TEXT-->
            <h2 margin-start text-size-xs>{{data.titleMap}}</h2>
            <agm-map [latitude]="data.map.lat" [longitude]="data.map.lng" [zoom]="data.map.zoom"
                [mapTypeControl]="data.map.mapTypeControl" [streetViewControl]="data.map.streetViewControl">
                <agm-marker [latitude]="data.map.lat" [longitude]="data.map.lng"></agm-marker>
            </agm-map>
        </ion-col>
    </ion-grid>
</ion-content>
