<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title text-capitalize>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    
    <test-1
      *ngIf="isType(0)"
      [data]="data"
      (onRegister)="onRegister($event)"
      (onSkip)="onSkip($event)">
    </test-1>

    <cs-auth
      *ngIf="isType(2)"
      [data]="data"
      (onRegister)="onRegister($event)"
      (onSkip)="onSkip($event)">
  </cs-auth>

  </ion-content>
</ion-app>
