/* Style component 2
========================================================*/
ion-list {
  padding: 5px;
  overflow: visible;

  ion-item {
    overflow: visible;
    position: relative;
    --background: transparent;

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      background: var(--cs-background-accent, #0090d0);
      top: 50%;
      left: 45px;
      height: 100%;
    }

    ion-label {
      margin: 10px;
      padding: 10px !important;
      background: var(--cs-background-primary, #ffffff);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    }
  }
}

ion-list > ion-item:last-child {
  &:before {
    display: none;
  }
}
