<!--Theme Profile - Profie With Avatar-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-col size="12">
      <ion-card padding text-center>
        <ion-avatar>
          <img [src]="data.image" alt="">
        </ion-avatar>
        <ion-card-content>
          <h1 text-size-lg>{{data.title}}</h1>
          <p text-size-p>{{data.subtitle}}</p>
        </ion-card-content>
      </ion-card>
      <h2 text-center text-size-xl text-uppercase>{{data.category}}</h2>
    </ion-col>
    <ion-col size="12" text-center *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
      <ion-card padding>
        <ion-card-content text-center>
          <span span-small>{{item.category}}</span>
          <h2 text-size-xs text-wrap padding-top>{{item.title}}</h2>
        </ion-card-content>
        <ion-button button-icon fill="clear" (click)="onLikeFunc(item, $event)">
          <ion-icon slot="start"
            [ngClass]="{'active' : item.like.isActive}"
            [name]="item.like.icon">
          </ion-icon>
          {{item.like.text}}
        </ion-button>
        <ion-button button-icon fill="clear" (click)="onCommentFunc(item, $event)">
          <ion-icon slot="start"
            [ngClass]="{'active' : item.comment.isActive}"
            [name]="item.comment.icon">
          </ion-icon>
          {{item.comment.number}} {{item.comment.text}}
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
