<!-- FORMS --COMPONENT 3 -->
<ion-grid padding *ngIf="data != null">
   <ion-row>
      <!-- Full Name -->
      <ion-col size="12">
        <ion-item no-padding transparent input>
          <ion-label text-size-sm position="floating">{{data.firstName}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.firstName"></ion-input>
         </ion-item>
         <!-- Last Name -->
         <ion-item no-padding transparent input>
           <ion-label text-size-sm position="floating">{{data.lastName}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.lastName"></ion-input>
         </ion-item>
         <!-- Address Line 1 -->
         <ion-item no-padding transparent input>
           <ion-label text-size-sm position="floating">{{data.addressLine1}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.address1"></ion-input>
         </ion-item>
         <!-- Address Line 2 -->
         <ion-item no-padding transparent input>
           <ion-label text-size-sm position="floating">{{data.addressLine2}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.address2"></ion-input>
         </ion-item>
         <!-- City -->
         <ion-item no-padding transparent input>
           <ion-label text-size-sm position="floating">{{data.city}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.city"></ion-input>
         </ion-item>
         <!-- Zip Code -->
         <ion-item no-padding transparent input>
           <ion-label text-size-sm position="floating">{{data.zipCode}}</ion-label>
            <ion-input type="number" [(ngModel)]="item.zipCode"></ion-input>
         </ion-item>
      </ion-col>
      <!-- Button Write Comment -->
      <ion-col size="12" class="ion-text-end">
         <ion-button margin-top shape="round" button-round
            fill="outline" (click)="onSubmitFunc($event)">
            {{data.button}}
         </ion-button>
      </ion-col>
   </ion-row>
</ion-grid>
