<ion-grid no-padding>
  <ion-row>
    <ion-col size="12" padding>
      <ion-list>
        <h2 text-size-xl>{{data.title}}</h2>
        <ion-item no-padding input>
          <ion-label text-size-xs position="floating">Please insert your text</ion-label>
          <ion-input required type="text" [(ngModel)]="encodeData">
          </ion-input>
        </ion-item>
        <ion-button button-round float-end margin-top fill="outline" shape="round"
          (click)="onButtonClickFunc()">
          {{data.buttonText}}
        </ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
