<!-- lOGIN FROMA --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar box-shadow>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title text-uppercase>{{data.headerTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col padding size="12" size-md="10" push-md="1">
          <ion-button fill="clear" button-clear float-right
          (click)="onSkipFunc()">{{data.skip}}</ion-button>
          <div clearfix></div>
          <!---Logo-->
          <ion-img [src]="data.logo"></ion-img>
        </ion-col>
        <ion-col padding size="12" size-md="10" push-md="1">
          <!---Input field username-->
          <ion-item no-padding input>
            <ion-label text-size-xs position="floating">{{data.username}}</ion-label>
            <ion-input required type="text" [(ngModel)]="item.username"></ion-input>
            <ion-icon *ngIf="!isUsernameValid" icon-small name="remove-circle"></ion-icon>
          </ion-item>
          <!---Input field password-->
          <ion-item no-padding input>
            <ion-label text-size-xs position="floating">{{data.password}}</ion-label>
            <ion-input required type="password" [(ngModel)]="item.password"></ion-input>
            <ion-icon *ngIf="!isPasswordValid" icon-small name="remove-circle"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col padding size="12" size-md="10" push-md="1">
          <ion-row padding-top margin-top>
            <ion-col size="6" no-padding align-self-start>
              <!---Login ion-button-->
              <ion-button button-round text-capitalize expand="full" shape="round"
              fill="outline" (click)="onLoginFunc()">
                {{data.login}}</ion-button>
            </ion-col>
            <ion-col size="6" no-padding align-self-start>
              <!---Register ion-button-->
              <ion-button button-round text-capitalize expand="full" shape="round"
              fill="outline" (click)="onRegisterFunc()">
                {{data.register}}</ion-button>
            </ion-col>
            <!---Share Section-->
            <ion-col size="6" no-padding align-self-start margin-top>
              <!---Facebook ion-button-->
              <ion-button expand="full" button-round facebook shape="round"
              fill="outline" (click)="onFacebookFunc()">
                {{data.btnFacebook}}
              </ion-button>
              <!---Twitter ion-button-->
              <ion-button expand="full" button-round twitter shape="round"
              fill="outline" (click)="onTwitterFunc()">{{data.btnTwitter}}
              </ion-button>
            </ion-col>
            <ion-col size="6" no-padding align-self-start margin-top>
              <!---Google ion-button-->
              <ion-button expand="full" button-round google shape="round"
              fill="outline" (click)="onGoogleFunc()">{{data.btnGoogle}}
              </ion-button>
              <!---Pinterest ion-button-->
              <ion-button expand="full" button-round pinterest shape="round"
              fill="outline" (click)="onPinterestFunc()">
                {{data.btnPinterest}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <!---End Share Section-->
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
