<!-- Back button with custom text and icon -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-list *ngIf="pages.length" lines="none">
          <ion-item lines="none"  *ngFor="let item of pages" (click)="openPage(item)">
            <ion-label>
              <div text-size-xs>{{item.title}}</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
