<ion-content>
  <!--Theme  Full image cards with avatar -->
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col siz="12" size-md="6" *ngFor="let item of data.items">
        <ion-card padding
          (click)="onItemClickFunc(item, $event)">
          <ion-item no-padding lines="none" transparent>
            <!-- Avatar -->
            <ion-avatar slot="start">
              <img [src]="item.avatar" alt="">
            </ion-avatar>
            <!-- Title And Subtitle -->
            <ion-label>
              <h2 text-size-xs>{{item.avatarTitle}}</h2>
              <h3 text-size-sm>{{item.avatarSubtitle}}</h3>
            </ion-label>
            <!-- Time -->
            <span slot="end" span-small>{{item.time}}</span>
          </ion-item>
          <!-- Images -->
          <ion-img [src]="item.image" alt=""></ion-img>
          <!-- Content -->
          <ion-card-content no-padding transparent>
            <h2 padding-top text-size-xs>{{item.title}}</h2>
            <p text-size-p padding-top>{{item.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
