<!-- CHECK BOX --COMPONENT 3 -->
<ion-grid no-padding>
  <ion-row>
    <ion-col size="12">
      <ion-list lines="none">
        <ion-item *ngFor="let entry of data" (click)="onItemClickFunc(entry)">
          <i icon-small slot="start" class="icon {{entry.icon}}"></i>
          <ion-label text-size-xs>{{entry.title}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
