<!-- EXPANDABLE --COMPONENT 1 -->
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col size="12" no-padding>
      <!-- Header List Big Image -->
      <ion-list no-margin>
        <ul collapsible no-margin no-padding>
          <li *ngFor="let group of data.items;">
            <!-- List big image Header -->
            <div collapsible-header no-padding (click)="toggleGroup(group)">
              <ion-item no-padding lines="none">
                <ion-thumbnail no-margin slot="start">
                  <ion-img [src]="group.image" [alt]="group.title"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2 text-size-xs text-nowrap>{{group.title}}</h2>
                  <h3 text-size-sm text-nowrap>{{group.description}}</h3>
                </ion-label>
                <!--SOCIAL SHARE -->
                <div social-share>
                  <i icon-small class="icon {{group.iconLike}}" (click)="onLikeFunc(group, $event)"></i>
                  <i icon-small class="icon {{group.iconFavorite}}" (click)="onFavoriteFunc(group, $event)"></i>
                  <i icon-small class="icon {{group.iconShare}}" (click)="onShareFunc(group, $event)"></i>
                </div>
              </ion-item>
            </div><!-- End List big image Header -->
            <!-- LIST OPEN ACCORDIAN BODY  -->
            <div item-accordion [ngClass]="{'active': group.show }" [hidden]="!group.show">
              <ion-item lines="none" transparent 
                *ngFor="let item of group.items;" (click)="onItemClickFunc(item, $event)">
                
                <!-- Avatar -->
                <ion-thumbnail slot="start">
                  <img [src]="item.image" [alt]="item.title" />
                </ion-thumbnail>
                <ion-label>
                  <!-- Subtitle Title -->
                  <h2 text-size-xs  text-nowrap>{{item.title}}</h2>
                  <!-- Subtitle Subtitle -->
                  <h3 text-size-sm text-nowrap>{{item.description}}</h3>
                </ion-label>
                <!-- ICON -->
                <i slot="end" icon-medium class="icon {{item.iconPlay}}"></i>
              </ion-item>
            </div>
            <!-- End List big image Body -->
          </li>
        </ul>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
