<!-- FORMS --COMPONENT 2 -->
<ion-grid padding *ngIf="data != null">
  <ion-row>
    <ion-col size="12">
    </ion-col>
    <ion-col size="12" text-center>
      <span text-size-xl>{{data.rateTitle}}</span>
      <div clearfix></div>
      <div icon-rating>
        <div icon *ngFor="let item of data.iconsStars;let i = index"
          (click)="onRatesFunc(data.iconsStars, i, $event)">
          <i icon-medium *ngIf="item.isActive" class="icon {{item.iconActive}}"></i>
          <i icon-medium *ngIf="!item.isActive" class="icon {{item.iconInactive}}"></i>
        </div>
      </div>
    </ion-col>
    <ion-col size="12" text-center>
      <span span-medium>{{data.description}}</span>
    </ion-col>
    <ion-col size="12">
      <ion-item no-padding transparent input>
        <ion-label text-size-sm position="floating">{{data.title}}</ion-label>
        <ion-input type="text" [(ngModel)]="item.title"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" textarea>
      <ion-item no-padding transparent input>
        <ion-label text-size-sm position="floating">{{data.descriptionPlaceholder}}</ion-label>
        <ion-textarea rows="100%" cols="1" [(ngModel)]="item.description"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-text-end">
      <ion-button button-round margin-top shape="round" fill="outline"
        (click)="onSubmitFunc($event)">
        {{data.btnSubmit}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
