<!-- SWIPE TO DISMISS --COMPONENT 1 -->
<ion-grid no-padding *ngIf="data != null">
  <ion-row>
    <ion-col size="12" no-padding>
      <ion-list #dynamicList>
        <!-- Header List -->
        <ion-item-divider transparent lines="none" padding-horizontal lines="none">
          <!--Header Icon-->
          <i icon-large slot="start" class="icon {{data.iconPlay}}"></i>
          <ion-label>
            <!--Header Title-->
            <h1 text-size-xl>{{data.title}}</h1>
            <!--Header Subitle-->
            <h2 text-size-xs>{{data.description}}</h2>
            <!--Header ShortDescription-->
            <span span-medium>{{data.shortDescription}}</span>
          </ion-label>
          <i icon-small slot="end" class="icon icon-thumb-up" (click)="onLikeFunc(data, $event)"></i>
          <i icon-small slot="end" class="icon icon-heart" (click)="onFavoriteFunc(data, $event)"></i>
          <i icon-small slot="end" class="icon icon-share-variant" (click)="onShareFunc(data, $event)"></i>
        </ion-item-divider>
        <!-- Content List -->
        <ion-item-sliding #sliding (click)="onItemClickFunc(item, $event)" disabled="false" *ngFor="let item of data.items">
          <ion-item lines="none" >
            
            <!--Avatar -->
            <ion-avatar slot="start">
              <img [src]="item.image">
            </ion-avatar>
            <ion-label>
              <!-- Title -->
              <h2 text-size-xs text-wrap>{{item.title}}</h2>
              <!-- Subtitle -->
              <h3 text-size-sm text-wrap text-uppercase>{{item.description}}</h3>
            </ion-label>
            <!-- ShortDescription -->
            <span slot="end" span-small>{{item.shortDescription}}</span>
            <!-- Icon play -->
            <i slot="end" icon-medium class="icon icon-play"></i>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="onDeleteFunc(item, $event)">
              <i icon-medium class="icon {{item.iconDelate}}"></i>
            </ion-item-option>
            <ion-item-option (click)="onUndoFunc($event)">
              <i icon-medium class="icon {{item.iconUndo}}"></i>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
