[padding-top] {
  --padding-top: var(--ion-padding, 8px);
  padding-top: var(--ion-padding, 8px);
}

ion-button {
  .active {
    color: var(--cs-icon-color-primary, #00c0e8) !important;
  }
}
